# yii console command

/yii
frontend/web/photo/*
frontend/web/yml/*
backend/web/excel/*

/node_modules

# phpstorm, netbeans, zend studio for eclipse project files
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

*.beautified.css
*.beautified.js

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
