
/* modify bootstrap */

.container { width: 1100px; }



/*style*/

header { height: 100px; overflow: hidden; background-color: #26354a; }
header #logo { margin: 10px 0 0 20px; }


ul.dropdown-menu.extended { min-width: 760px; padding: 10px 30px 40px;}

ul.dropdown-menu .vertical-divide { border-left: 1px solid #eee; }